.team-member .member-img img {
  max-width: 100%; /* La imagen no excederá el 100% de su contenedor */
  max-height: 300px; /* Ajusta la altura máxima si es necesario */
  object-fit: cover; /* Mantiene la proporción sin deformar */
}

/* Asegura que las columnas no se expandan más allá del tamaño esperado */
.figuras .container .row .col-lg-3, .figuras .container .row .col-md-4, .figuras .container .row .col-6 {
  padding: 0; /* Elimina el padding extra */
  width: 100%; /* Asegura que la columna no se expanda más allá del tamaño esperado */
}
