/* ******************************************************** Contenedor de la galería ******************************************************** */
.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 60px; 
  overflow: hidden;
}
/* ******************************************************** Para mejorar visibilidad ******************************************************** */
.swiper-slide {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* *********************************** Para que las imágenes tengan un margen y no se peguen a los bordes *********************************** */
.swiper-slide img {
  width: 100%;
  height: auto;
  padding-left: 60px;
  padding-right: 60px;
  object-fit: contain;
}
/* *************************************************************** Paginación *************************************************************** */
.swiper-pagination {
  position: absolute;
  bottom: 10px; /* Posición de la paginación al fondo */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Asegurarse de que la paginación está encima de las imágenes */
}
/* ------------------------------------------------------------------------------------------------------------------ Puntos de la paginación */
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.7); /* Color del fondo semi transparente para los puntos */
  width: 12px; /* Ancho */
  height: 12px; /* Largo */
  margin: 0 5px; /* Margen */
  border-radius: 50%; /* Para hacer que las flechas tengan un fondo circular */
  transition: background-color 0.3s ease; /* Suavizar el cambio de fondo y color */
}
/* ------------------------------------------------------------------------------------------------------ Cambiar color de los puntos activos */
.swiper-pagination-bullet-active {
  background-color: #37b106 !important;
  transform: scale(1.2); /* Agrandar ligeramente el punto activo para darle énfasis */
}
/* *********************************************************** Botones navegación *********************************************************** */
.swiper-button-next, .swiper-button-prev {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
  background-color: #0f1897; /* Fondo azul fuerte */
  --swiper-navigation-color: gold;
  transition: background-color 0.3s, color 0.3s; 
}
/* --------------------------------------------------------------------------------------------------- Estado hover (cuando se pasa el ratón) */
.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: #e63bad; /* Fondo rosa */
}
/* --------------------------------------------------------------------------------------------------------- Color de las flechas se mantiene */
.swiper-button-next:hover:after, .swiper-button-prev:hover:after {
  color: gold; 
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
/* ---------------------------------------------------------------------------------------------------------------------- Pantallas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
  .swiper-container {
    padding-bottom: 90px;
  }

  .swiper-slide img {
    padding-left: 60px;
    padding-right: 60px;
  }
}
/* ---------------------------------------------------------------------------------------------------------------------- Pantallas pequeñas */
@media (max-width: 767px) {
  .swiper-container {
    padding-bottom: 120px;
  }

  .swiper-slide img {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }
}