/* Estilos para el contenedor principal */
.inicio {
  background-color: #c1c6ca;
  color: #000000; /* Texto blanco */
  padding: 60px 0;
}

.section-title-INICIO h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.section-title-INICIO h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
}

.p {
  font-size: 16px;
  text-align: center;
  color: #bdbdbd;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imágenes */
#inicio img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 30px;
}
/* Asegúrate de que las imágenes tengan un contenedor adecuado */
.play-button-container {
  position: relative;
  display: block;
}

/* Estilos para el ícono de Play */
.play-button-container i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
}
/* Animaciones de AOS */
[data-aos="fade-up"] {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

[data-aos="fade-up"].aos-animate {
  opacity: 1;
}

[data-aos-delay] {
  transition-delay: var(--aos-delay);
}

