.listado-de-entregas {
    padding: 0 10px;
}
/* *********************************************************** Personalizar tabla *********************************************************** */
.table th, .table td {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

.table-hover {
    background-color: #333;
    color: white;
    border-color: #333;
}
/* *********************************************************** Colores para filas *********************************************************** */
/* ************************************************************************************************************************************** RYU */
.table .fila1 {
    background-color: white;
    color: black;
    border-color: white;
}
/* ************************************************************************************************************************************** KEN */
.table .fila2 {
    background-color: red;
    color: white;
    border-color: red;
}
/* M. BISON */
.table .fila3 {
    background-color: darkred;
    color: #fff;
    border-color: darkred;
}
/* ************************************************************************************************************************************ SAGAT */
.table .fila4 {
    background-color: darkblue;
    color: white;
    border-color: darkblue;
}
/* *********************************************************************************************************************************** BLANKA */
.table .fila5 {
    background-color: greenyellow;
    color: black;
    border-color: greenyellow;
}
/* ************************************************************************************************************************************* VEGA */
.table .fila6 {
    background-color: darkmagenta;
    color: white;
    border-color: darkmagenta;
}
/* CHUN LI */
.table .fila7 {
    background-color: blue;
    color: white;
    border-color: blue;
}
/* ************************************************************************************************************************************ GUILE */
.table .fila8 {
    background-color: green;
    color: white;
    border-color: green;
}
/* ********************************************************************************************************************************** DHALSIM */
.table .fila9 {
    background-color: yellow;
    color: black;
    border-color: yellow;
}
/* ********************************************************************************************************************************** ZANGIEF */
.table .fila10 {
    background-color: #F00000;
    color: white;
    border-color: #F00000;
}
/* BALROG */
.table .fila11 {
    background-color: lightskyblue;
    color: black;
    border-color: lightskyblue;
}
/* ********************************************************************************************************************************* E. HONDA */
.table .fila12 {
    background-color: skyblue;
    color: black;
    border-color: skyblue;
}
/* T. HAWK */
.table .fila13 {
    background-color: cornflowerblue;
    color: black;
    border-color: cornflowerblue;
}
/* ************************************************************************************************************************************ CAMMY */
.table .fila14 {
    background-color: lime;
    color: black;
    border-color: lime;
}
/* FEI LONG */
.table .fila15 {
    background-color: black;
    color: white;
    border-color: black;
}
/* ************************************************************************************************************************************ AKUMA */
.table .fila16 {
    background-color: firebrick;
    color: white;
    border-color: firebrick;
}
/* SAKURA */
.table .fila17 {
    background-color: royalblue;
    color: white;
    border-color: royalblue;
}
/* ********************************************************************************************************************************** DEE JAY */
.table .fila18 {
    background-color: orangered;
    color: white;
    border-color: orangered;
}
/* ADON */
.table .fila19 {
    background-color: mediumblue;
    color: white;
    border-color: mediumblue;
}
/* ************************************************************************************************************************************* ROSE */
.table .fila20 {
    background-color: mediumvioletred;
    color: white;
    border-color: mediumvioletred;
}
/* DAN */
.table .fila21 {
    background-color: hotpink;
    color: black;
    border-color: hotpink;
}
/* ********************************************************************************************************************************** R. MIKA */
.table .fila22 {
    background-color: deepskyblue;
    color: black;
    border-color: deepskyblue;
}
/* *********************************************************************************************************************************** MAKOTO */
.table .fila23 {
    background-color: snow;
    color: black;
    border-color: snow;
}
/* ************************************************************************************************************************************* CODY */
.table .fila24 {
    background-color: navy;
    color: white;
    border-color: navy;
}
/* IBUKI */
.table .fila25 {
    background-color: sienna;
    color: white;
    border-color: sienna;
}
/* GEN */
.table .fila26 {
    background-color: darkviolet;
    color: white;
    border-color: darkviolet;
}
/* C. VIPER */
.table .fila27 {
    background-color: crimson;
    color: white;
    border-color: crimson;
}
/* GOUKEN */
.table .fila28 {
    background-color: dimgray;
    color: white;
    border-color: dimgray;
}
/* POISON */
.table .fila29 {
    background-color: deeppink;
    color: white;
    border-color: deeppink;
}
/* DUDLEY */
.table .fila30 {
    background-color: olivedrab;
    color: white;
    border-color: olivedrab;
}
/* EVIL RYU */
.table .fila31 {
    background-color: darkslategray;
    color: white;
    border-color: darkslategray;
}
/* ONI */
.table .fila32 {
    background-color: rebeccapurple;
    color: white;
    border-color: rebeccapurple;
}
/* KARIN */
.table .fila33 {
    background-color: #D90000;
    color: white;
    border-color: #D90000;
}
/* YUN */
.table .fila34 {
    background-color: ghostwhite;
    color: black;
    border-color: ghostwhite;
}
/* YANG */
.table .fila35 {
    background-color: #CF1414;
    color: white;
    border-color: #CF1414;
}
/* ELENA */
.table .fila36 {
    background-color: ivory;
    color: black;
    border-color: ivory;
}
/* CHARLIE NASH */
.table .fila37 {
    background-color: darkorange;
    color: white;
    border-color: darkorange;
}
/* ABEL */
.table .fila38 {
    background-color: dodgerblue;
    color: black;
    border-color: dodgerblue;
}
/* JURI */
.table .fila39 {
    background-color: purple;
    color: white;
    border-color: purple;
}
/* ROLENTO */
.table .fila40 {
    background-color: #f1df00;
    color: black;
    border-color: #f1df00;
}
/* HAKAN */
.table .fila41 {
    background-color: #B00000;
    color: white;
    border-color: #B00000;
}
/* EL FUERTE */
.table .fila42 {
    background-color: gainsboro;
    color: black;
    border-color: gainsboro;
}
/* DECAPRE */
.table .fila43 {
    background-color: midnightblue;
    color: white;
    border-color: midnightblue;
}
/* HUGO */
.table .fila44 {
    background-color: #FF55AA;
    color: black;
    border-color: #FF55AA;
}
/* GUY */
.table .fila45 {
    background-color: #EC0808;
    color: white;
    border-color: #EC0808;
}
/* SETH */
.table .fila46 {
    background-color: darkgray;
    color: black;
    border-color: darkgray;
}
/* RUFUS */
.table .fila47 {
    background-color: #FFED0C;
    color: black;
    border-color: #FFED0C;
}
/* URIEN */
.table .fila48 {
    background-color: saddlebrown;
    color: white;
    border-color: saddlebrown;
}
/* SEAN */
.table .fila49 {
    background-color: #FFE41C;
    color: white;
    border-color: #FFE41C;
}
/* LAURA */
.table .fila50 {
    background-color: forestgreen;
    color: white;
    border-color: forestgreen;
}
/* ORO */
.table .fila51 {
    background-color: sienna;
    color: white;
    border-color: sienna;
}
/* ALEX */
.table .fila52 {
    background-color: darkgreen;
    color: white;
    border-color: darkgreen;
}
/* NECRO */
.table .fila53 {
    background-color: sienna;
    color: white;
    border-color: sienna;
}
/* Q */
.table .fila54 {
    background-color: sienna;
    color: white;
    border-color: sienna;
}
/* KOLIN */
.table .fila55 {
    background-color: sienna;
    color: white;
    border-color: sienna;
}
/* ************************************************************** Bordes tabla ************************************************************** */
.table-bordered {
    border: 1px solid #ff0000;
}

.table-bordered td, .table-bordered th {
    border: 2px solid #333;
}

/* ****************************************************** Fondo oscuro para encabezado ****************************************************** */
.thead-dark {
    background-color: #333;
    color: white;
}
/* ************************************************ Ajustar la tabla para pantallas pequeñas ************************************************ */
.table-responsive {
    overflow-x: auto;
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
/* ------------------------------------------------------------------------------------------------------------------------ Pantallas grandes */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas medianas */
/* ----------------------------------------------------------------------------------------------------------------------- Pantallas pequeñas */