/* Estilo para el nav */
.navmenu {
  background-color: #000000;  /* Color de fondo */
  color: #ffffff;
  padding: 10px;  /* Espaciado alrededor */
}

.nav-list {
  list-style-type: none;  /* Eliminar los puntos de lista */
  padding: 0;
  margin: 0;
  display: flex;  /* Mostrar los elementos en fila */
  justify-content: center;  /* Centrar los elementos */
}

.nav-item {
  margin: 0 15px;  /* Espacio entre los elementos */
}

.nav-link {
  color: #fff;  /* Color del texto */
  text-decoration: none;  /* Eliminar el subrayado del enlace */
  font-size: 18px;  /* Tamaño de la fuente */
  transition: color 0.3s;  /* Transición suave cuando cambie el color */
}

.nav-link:hover {
  color: #f39c12;  /* Color cuando el enlace se pasa por encima */
}
