/* ****************************************************** Para el contenedor principal ****************************************************** */
.personajes {
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura de la pantalla */
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  overflow: hidden; /* Evita que el contenido se desborde */
}
/* ***************************************************************** Título ***************************************************************** */
.character-item h4{
  margin-top: 0px;
  margin-right: 15px;
  padding: 5px;
  background:linear-gradient(to right,#000,#222,#000);
  color:white;
  border-left: 7px solid gold;
  text-align: center;
  letter-spacing: 3px;
  font-size: 30px;
}
/* **************************************************************** Imágenes **************************************************************** */
.character-item img {
  width: 100%;
  height: auto;
  display: block;
  padding-right: 15px;
  margin-top: 12px;
}
/* *************************************************************** Información *************************************************************** */
/* --------------------------------------------------------------------------------------------------------------------------------- En general*/
.character-card{
  margin: 12px 15px 0 0;
  padding: 12px;
  background: black;
  color: white;
  border: 3px solid gold;
  font-size: 16px;
  overflow: hidden;
}
/* -------------------------------------------------------------------------------------------------------------------- Para todos los títulos */
.character-card h6{
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 5px;
  border-bottom: 1px solid currentColor;
  text-shadow: 0 0 6px currentColor;
}
/* -------------------------------------------------------------------------------------------------- Margen inferior para todas las secciones */
.character-info, .character-description, .card-footer, .character-hobbies{margin-bottom: 12px;}
/* ------------------------------------------------------------- Datos generales ------------------------------------------------------------- */
.character-info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px 10px;
}
/* .................................................................................................................................... Título */
.character-info h6{text-align: center; margin: 0 0 5px; padding-bottom: 7px; color: hotpink; grid-column: 1 / -1;/* ocupa las dos columnas */}
/* ............................................................................................................................. Cuadrado .... */
.character-info div::before{content: "▪"; color: hotpink; margin-right: 7px;}
/* ------------------------------------------------------- Párrafo para la descripción  -------------------------------------------------------*/
.character-description{padding: 0 12px; text-align: center;}
/* --------------------------------------------------------------------------------------------------------------- Color para resaltar la info */
.character-info strong{color: hotpink;}
/* ------------------------------------------------------ Listas de Gustos y Aversiones ------------------------------------------------------ */
.card-footer{ display: flex; justify-content: space-around; gap: 10px;}
/* --------------------------------------------------------------------------------------------------------------- */
.info-column{flex: 1;}
/* ---------------------------------------------------------------------------------------------------------------------- Título de las listas */
.info-column h6{margin: 0 5px 5px; padding: 0 0 7px; text-align: center;}
/* ----------------------------------------------------------------------------------------------------------------------- Texto de las listas */
.info-column li{position:  relative; color: white; font-size: 15px; }

.info-column ul{list-style: none;}
/* ------------------------------------------------------------------------------------------------------------------------------------ Gustos */
.info-column.likes h6{color: royalblue;}

.likes li::before {content: "✖"; color: royalblue; margin-right: 7px;}
/* -------------------------------------------------------------------------------------------------------------------------------- Aversiones */
.info-column.dislikes h6{color: red;}

.dislikes li::before {content: "○"; color: red; margin-right: 7px;}
/* --------------------------------------------------------------------------------------------------------------------------------- Aficiones */
.character-hobbies h6{grid-column: 1 / -1; margin: 0 0 5px; padding: 7px; text-align: center; color: lime;}

.character-hobbies li::before{content: "△"; color: lime; margin-right: 7px;}
/* ------------------------------------------------------------------------------------------------------- Para los listados de  */
.character-hobbies{
    margin: 8px 0 0;
    padding-left: 18px; list-style: none;
}

.character-hobbies ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
    list-style: none;
    margin: 8px 0 0;
    padding-left: 10px;
}
/* *************************************************************** Paginación *************************************************************** */
#customPagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas por defecto */
  gap: 3px; /* Espacio entre las columnas */
  list-style:none; /* quitar numeración del ol */
  padding-left: 0; /* Espacio para los números */
  counter-reset: personajes;
}

#customPagination li{
    counter-increment: personajes;
    font-size: 18px;
    cursor: pointer;
    padding: 8px 12px;
    margin: 2px 0;
    border-left: 5px solid black; /* número */
    color: white;
    transition: all .25s ease;
    border-radius:6px;
}
/* ---------------------------------------------------------------------------------------------------------------------------- Poner el número*/
#customPagination li::before{
    content: counter(personajes, decimal-leading-zero);
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:32px;
    height:32px;
    margin-right:10px;
    background: black;
    color: white;
    border-radius:50%;
    font-size:14px;
    font-weight:bold;
    transition:all .25s ease;
}
/* --------------------------------------------------------------------------------------------------------- Cambia el color al pasar el ratón */
#customPagination li:hover{ border-left-color: navy;  color: darkblue;  box-shadow:0 0 0 2px rgba(13,110,253,.2);}
#customPagination li:hover::before{  background: navy;  color: white;} /* ----------------------------------------- número del elemento */
/* -------------------------------------------------------------------------------------------------------------------------- Elemento activo */
#customPagination li.active{
    background: linear-gradient(90deg,#2ea041,#2eb32e);
    border-left-color:#268039;
    color:white;
    font-weight: bold;
}
#customPagination li.active::before{  background:white;  color:#268039; } /* ----------------------------------------- número del elemento */
#customPagination li.active a { color:white;} /* ----------------------------------------------- texto en el elemento (nombre del personaje) */
/* ************************************************************ Botón hamburguesa ************************************************************ */
.hamburger {
  font-size: 28px;
  background: none;
  border: none;
  display: none; /* Oculto por defecto */
  cursor: pointer;
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
/* ---------------------------------------------------------------------------------------------------------------------- Pantallas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
  #customPagination {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
  }
}
/* ---------------------------------------------------------------------------------------------------------------------- Pantallas pequeñas */
@media (max-width: 767px) {
  .hamburger {
    display: block; /* Mostrar botón hamburguesa */
  }

  #customPagination {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}
