/* ****************************************************** Para el contenedor principal ****************************************************** */
.personajes {
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura de la pantalla */
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  overflow: hidden; /* Evita que el contenido se desborde */
  padding: 0 15px;
}
/* ***************************************************************** Título ***************************************************************** */
.character-item h4{
  margin-right: 15px;
  padding: 5px;
  background: linear-gradient(90deg, #050505, #222, #111, #000);
  text-shadow: 0 0 6px rgba(0,255,0,.25);
  color:white;
  border-left: 7px solid lime;
  text-align: center;
  letter-spacing: 3px;
  font-size:2rem;
  font-weight:700;
}

.character-item h4::before{
    content:"△";
    color:lime;
    margin-right:12px;
}
/* **************************************************************** Imágenes **************************************************************** */
.character-item img {
  width: 100%;
  height: auto;
  display: block;
  padding-right: 15px;
  margin-top: 12px;
}
/* *************************************************************** Información *************************************************************** */
.description { border-left:4px solid lime; padding: 5px 5px 0 3px; text-align: center;}
/* *************************************************************** Paginación *************************************************************** */
#customPagination{
    display:grid; grid-template-columns:repeat(3, 1fr);
    gap: 10px; /* separación entre elementos */
    list-style: none;
    padding-left:0;
}
/* ---------------------------------------------------------------- Elementos ---------------------------------------------------------------- */
#customPagination li{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  border-radius: 14px;
}
/* ---------------------------------------------------------- Botón estilo de mando ---------------------------------------------------------- */
#customPagination li::before{
  display: inline-flex;
  justify-content: center; align-items: center; /* alinear los simbolos al centro */
  margin-right: 10px; /* separar el botoncito del nombre del personaje*/
  content: "□"; width: 30px; height: 30px; background: black; color:hotpink; font-size: 30px; font-weight:bold;
  border-radius:50%;
  line-height:1;
  box-shadow: inset 0 0 5px rgba(255,255,255,.15), 0 2px 5px rgba(0,0,0,.5);
}
/* ------------------------------------------------------------- Elemento activo ------------------------------------------------------------- */
#customPagination li.active{ background: red; color:white; font-weight: bold; }
#customPagination li.active::before{ content:"○"; color:red; } /* ------------------------------------------------- "botoncito" del elemento */
/* ------------------------------------------------------ Al pasar el mouse ------------------------------------------------------ */
#customPagination li:hover{ background: royalblue; color: white; font-weight: bold;}
#customPagination li:hover::before{ content:"✕"; color:royalblue;} /* -------------------------------------------- "botoncito" del elemento */
/* ************************************************************ Botón hamburguesa ************************************************************ */
.hamburger {
  font-size: 28px;
  background: none;
  border: none;
  display: none; /* Oculto por defecto */
  cursor: pointer;
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
/* ---------------------------------------------------------------------------------------------------------------------- Pantallas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
  #customPagination {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
  }
}
/* ---------------------------------------------------------------------------------------------------------------------- Pantallas pequeñas */
@media (max-width: 767px) {
  .hamburger {
    display: block; /* Mostrar botón hamburguesa */
  }

  #customPagination {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}
