/* ****************************************************** Para el contenedor principal ****************************************************** */
.personajes {
  padding: 0 15px;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura de la pantalla */
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  overflow: hidden; /* Evita que el contenido se desborde */
}
/* ***************************************************************** Título ***************************************************************** */
.personajes h4 {
  font-size: 24px;
  color: #000000;
  text-align: center; /* Asegura que el título esté centrado */
  padding-top: 15px;
  font-weight: bold;
}
/* ************************************************************** Descripción ************************************************************** */
.description {
  font-size: 15px;
  color: #000000;
  margin-top: 10px;
  text-align: center; /* Centra la descripción */
}
/* *************************************************************** Paginación *************************************************************** */
#customPagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas por defecto */
  gap: 3px; /* Espacio entre las columnas */
  overflow: hidden; /* Evita que la lista se desborde */
}

#customPagination li {
  font-size: 18px;
  padding: 5px 0;
}
/* -------------------------------------------------------------------------------------------------------- Cambia el color al pasar el ratón */
#customPagination li:hover {
  color: blue; 
}

#customPagination li:active{
  color: green;
}
/* Botón hamburguesa */
.hamburger {
  font-size: 28px;
  background: none;
  border: none;
  display: none; /* Oculto por defecto */
  cursor: pointer;
}
/* ************************************************************* RESPONSIVIDAD ************************************************************* */
/* ---------------------------------------------------------------------------------------------------------------------- Pantallas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
  #customPagination {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
  }
}
/* ---------------------------------------------------------------------------------------------------------------------- Pantallas pequeñas */
@media (max-width: 767px) {
  .hamburger {
    display: block; /* Mostrar botón hamburguesa */
  }

  #customPagination {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}
